@using Questionnaire.Blazor.Areas.Identity

@inject TokenProvider TokenProvider

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Не существует страницы по данному адресу.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code
{
    [Parameter]
    public TokenProvider InitialState { get; set; }

    protected override void OnInitialized()
    {
        TokenProvider.XsrfToken = InitialState.XsrfToken;
    }
}