@inherits BaseQuestionComponent

<label for="@id" class="col-lg-2">@QuestionAnswer.Question.DisplayName</label>
<select id="@id" class="custom-select col-lg-9" @oninput=Input>
    @foreach (var option in QuestionAnswer.Question.Options)
    {
        <option value="@option.DisplayName">@option.DisplayName</option>
    }
</select>